
{{#*inline "title"}}Título Padrão{{/inline}}
{{#*inline "body"}}Conteúdo Padrão{{/inline}}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header><!-- Header compartilhado --></header>

    {{{body}}}

    <footer><!-- Rodapé compartilhado --></footer>
</body>
</html>
