<div class="container mt-4">
  <h1>Sobre o Jogo Space Shooter</h1>
  <p>Space Shooter é um jogo clássico de naves onde o objetivo é destruir os inimigos no espaço e sobreviver o maior tempo possível. O objetivo 
    principal é normalmente eliminar ondas de inimigos e chefes, evitando seus ataques e coletando power-ups para melhorar a nave e sobreviver aos níveis. </p>
  
  <p>Desafie suas habilidades, desvie dos obstáculos e atire para vencer!</p>
  
    <div class="my-4">
        <img src="/img/space1.jpg" class="img-fluid rounded mb-3" alt="Imagem do Jogo" style="max-width: 500px;">
        <img src="/img/space2.jpg" class="img-fluid rounded mb-3" alt="Imagem do Jogo" style="max-width: 600px;">
    </div>
</div>
